<h1 class="container mx-auto w-full text-5xl font-bold text-center my-4">Turbo Hotwire with Rails + Tailwindcss</h1>
<div class="container mx-auto w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Bills</h5>
        <%= link_to "New bill", new_bill_path, class: "text-sm font-medium text-white hover:text-slate-950 dark:text-white p-2 rounded-lg bg-blue-400"%>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <%- @bills.each do |bill|%>  
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                           <%= bill.title %> 
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white justify-evenly">
                      <%= link_to "Edit", edit_bill_path(bill), class: "text-sm font-medium text-white hover:text-slate-950 dark:text-white p-2 rounded-lg bg-green-400 mr-2"%>
                      <%= button_to "Delete", bill, method: :delete, class: "text-sm font-medium text-white hover:text-slate-950 dark:text-white p-2 rounded-lg bg-red-400"%>
                    </div>
                </div>
            </li>
          <% end %>  
        </ul>
   </div>
</div>

