<% flash.each do |flash_type, message| %>
  <div class="<%= class_names('flex rounded-lg h-10', 'bg-emerald-300': flash_type == 'notice')%>"
       data-controller="removals"
  >
    <p class="text-2xl font-bold text-slate-50 text-center m-auto">
      <%= message %>
    </p>
  </div>
<% end %>